body {
    color:white;
    background-color: black;
    /* font-family: "Noto Sans", sans-serif;
    font-size: small; */
}

a {
    color:white;
    text-decoration: none;
    margin: 10px
}

.main {
    display: grid;
    grid-template-rows: 150px auto;
    grid-template-columns: 355px auto;
}

.sidebar {
    
    width: 19rem;
    background-color: #121212;
}


.sidebar h3 {
    display: inline;
    margin-right: 45%;
}

.sidebar-top {
    padding: 22px 24px 0px 24px;
    border-radius: 10px;
}

.sidebar-top ul {
    list-style: none;
    padding-left: 0px;
}

.sidebar-top ul li {
    margin-top: 24px;
    font-size:larger;
}

.sidebar-mid {
    margin-top: 10px;
    padding: 22px 24px 0px 0px;
    width: 330px;
    border-radius: 10px 10px 10px 10px;
}

.sidebar-mid img {
    width: 18px;
    margin-right: 15px;
}

.mid-header {
    height: 40px;
    padding-left: 24px;
    
}

.mid-header h3 {
    color: #a0a0a0;
    transition: 0.5s;
}

.mid-header h3:hover {
    color:white;
}
/* .sidebar-mid i {
    width:20px;
    border-radius: 100%;
}

.sidebar-mid i:hover {
    background-color: #1a1a1a;
} */

.mid-scroll {
    height: 185px;
    overflow-y: auto;
}

.mid-scroll::-webkit-scrollbar {
    overflow: hidden;
}


.mid-scroll div {
    margin: 10px 10px;
    height: 150px;
    background-color: #242424;
    padding: 1px 0px 5px 20px;
    border-radius: 10px
}

.mid-scroll button {
    background-color: aliceblue;
    font-weight: 700;
    height: 30px;
    border: none;
    border-radius:50px;
    padding: 0px 15px
}

.mid-scroll button:hover {
    transform: scale(1.05);
}

.sidebar-bottom {
    padding-top: 30px
}

.sidebar-bottom div {
    margin-top:10px;
}

.sidebar-bottom div a {
    font-size: 12px;
    margin: 0px 5px 0px 20px;
    color:#a0a0a0
}

.sidebar-footer {
    padding: 20px 0px 20px 40px;
}

.sidebar-footer button {
    height: 35px;
    width: 100px;
    background-color: #121212;
    color: white;
    border: #a0a0a0 solid 1px;
    border-radius: 20px;
}

.sidebar-footer button:hover {
    transform: scale(1.05);
    border-color: white;
    border-width: 1.5px;
}

.content {
    grid-row: span 2;
    background-color: #121212;
    height: 600px;
    overflow-y: auto;
    margin-left: 5px;
    border-radius: 10px;
    overflow:auto;
}

.content::-webkit-scrollbar {
    overflow: hidden;
}